body {
    
    margin: 0;
    background:url(../img/index_bg.jpg);
    position: relative;
    font-family:'Helvetica Neue', 'Helvetica', 'Arial', '微軟正黑體', 'sans-serif';
}
a{text-decoration: none;color: #000;}
img{border: none;}
ul,ol{list-style: none;}
html,
body {
    margin: 0;
    padding: 0;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

/*头部*/
.header {
    width: 1520px;
    height: 100px;
   top:0;
    background:#FFF;
    position: fixed;
    box-shadow:  0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index:100;
}

.header .logo {
    width: 337px;
    height: 100%;
    background:url(../img/mainbar-menu_mu.png) no-repeat;
    background-position: 220px 25px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
}

.header .tel {
    width: 164px;
    height: 30px;
    background-color: seagreen;
    position: absolute;
    right: 210px;
    top: 35px;
}

.header .nav {
    width: 1000px;
    height: 50px;
    top: 15px;
   right: 100px;
    position: absolute;
    text-align: center;
}
.header .nav li{
    display: inline-block;
    width: 100px;   
}


/*头部 end*/

.footer{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #FFF;
    text-align: center;
}
.footer p{
    margin: 0 ;
    line-height: 2em;
    font-size: 13px;
}