
.news {
    text-align: center;
}

.n_t {
    width: 100%;
    height: 100px;
    float: left;

}

.n_c {
    width: 700px;
    left: 100px;
    float: left;
    top: 150px;
    margin-left: 200px;
    margin-top: 25px;

}

.news img {
    width: 400px;
    margin-top: 25px;
}

.n_c p {
    text-align: left;
    line-height: 2em;

}